<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title}}</h1>
        </a>
        <h2></h2>

        <section id="downloads">
          <a href="{% link index.md %}" class="btn btn-publications"><span class="icon"></span>Publications</a>
          <a href="{% link pages/talks.md %}" class="btn btn-talk"><span class="icon"></span>Talks</a>          
          <a href="{% link pages/about.md %}" class="btn btn-about-me"><span class="icon"></span>About me</a>
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/zani0x03" class="btn btn-twitter"><span class="icon"></span>Twitter</a>
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/zani0x03" class="btn btn-github"><span class="icon"></span>GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
